html {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #999999;
}
td {
    padding: 10px;
}
.tartalom{
    margin: auto;
    width: 1000px;
}
.center {
    text-align: center;
    margin: auto;
}
.kep {
    width: 125%;
}
.bal {
    float: left;
    color: #CC0000;
}
.jobb {
    float: right;
}