html {
    background-color: #DDFFDD ;
    color: #002200; 
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

p {
    margin-left: 50px;
}

li {
    font-weight: bold;
}




div {
    text-align:center;
}

.kep {
    float:right;
    width: 100px;
}


hr {
    border: none;
    font-size:30px;
    letter-spacing: 8px;
  }
  hr::before {
    content: '************************';
    display: block;
    text-align: center;
  }
  