body {
    color: white;
    background-image:url(hatter.png);
}

a {
    color: #C0C0C0;
}
a:visited {
    color: #C0C0C0;
}
a:active {
    color: #C0C0C0;
}
a:hover {
    color: #C0C0C0;
}

.kozep {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

hr {
    width:80%;
}

p {
    text-align:justify;
}

.jobb {
    text-align:right;
}